.dock-pane-menu-item > .label {
	-fx-font-weight:bold;
}

.dock-hidden-header-tab-pane {
    -fx-tab-max-height: 0;
} 

.dock-hidden-header-tab-pane > .tab-header-area {
    visibility: hidden ;
    -fx-padding: -20 0 0 0;
}

.dock-drag-entered {
    -fx-border-width: 0 3 0 0;
    -fx-border-color: black;
}

.dock-area {
	-fx-background-color: grey;
	-fx-opacity: 0.5;
}